<%-include('../partials/header') %>
    <h1 class="display-4">Skill #<%= skill.id %></h1>
    <h3 class="display-1 text-primary"><%= skill.skill %></h3>
    <h3 class="display-5">Learned: <%= skill.done ? 'Yes' : 'No' %></h3>
    <a href="/skills">Back</a>
<%include('../partials/footer') %>



